//
// @font-face's declaration here
//

// Gotham Pro (300/400/500/700/900 + italic)

@font-face {
	font-family: 'Gotham Pro';
	src: url('@{public}fonts/gotham/GothamPro-Italic.eot');
	src: url('@{public}fonts/gotham/GothamPro-Italic.eot?#iefix') format('embedded-opentype'),
	url('@{public}fonts/gotham/GothamPro-Italic.woff2') format('woff2'),
	url('@{public}fonts/gotham/GothamPro-Italic.woff') format('woff'),
	url('@{public}fonts/gotham/GothamPro-Italic.ttf') format('truetype'),
	url('@{public}fonts/gotham/GothamPro-Italic.svg#GothamPro-Italic') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Gotham Pro';
	src: url('@{public}fonts/gotham/GothamPro-BoldItalic.eot');
	src: url('@{public}fonts/gotham/GothamPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
	url('@{public}fonts/gotham/GothamPro-BoldItalic.woff2') format('woff2'),
	url('@{public}fonts/gotham/GothamPro-BoldItalic.woff') format('woff'),
	url('@{public}fonts/gotham/GothamPro-BoldItalic.ttf') format('truetype'),
	url('@{public}fonts/gotham/GothamPro-BoldItalic.svg#GothamPro-BoldItalic') format('svg');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Gotham Pro Narrow';
	src: url('@{public}fonts/gotham/GothamProNarrow-Medium.eot');
	src: url('@{public}fonts/gotham/GothamProNarrow-Medium.eot?#iefix') format('embedded-opentype'),
	url('@{public}fonts/gotham/GothamProNarrow-Medium.woff2') format('woff2'),
	url('@{public}fonts/gotham/GothamProNarrow-Medium.woff') format('woff'),
	url('@{public}fonts/gotham/GothamProNarrow-Medium.ttf') format('truetype'),
	url('@{public}fonts/gotham/GothamProNarrow-Medium.svg#GothamProNarrow-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Pro';
	src: url('@{public}fonts/gotham/GothamPro-BlackItalic.eot');
	src: url('@{public}fonts/gotham/GothamPro-BlackItalic.eot?#iefix') format('embedded-opentype'),
	url('@{public}fonts/gotham/GothamPro-BlackItalic.woff2') format('woff2'),
	url('@{public}fonts/gotham/GothamPro-BlackItalic.woff') format('woff'),
	url('@{public}fonts/gotham/GothamPro-BlackItalic.ttf') format('truetype'),
	url('@{public}fonts/gotham/GothamPro-BlackItalic.svg#GothamPro-BlackItalic') format('svg');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Gotham Pro';
	src: url('@{public}fonts/gotham/GothamPro-Light.eot');
	src: url('@{public}fonts/gotham/GothamPro-Light.eot?#iefix') format('embedded-opentype'),
	url('@{public}fonts/gotham/GothamPro-Light.woff2') format('woff2'),
	url('@{public}fonts/gotham/GothamPro-Light.woff') format('woff'),
	url('@{public}fonts/gotham/GothamPro-Light.ttf') format('truetype'),
	url('@{public}fonts/gotham/GothamPro-Light.svg#GothamPro-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Pro';
	src: url('@{public}fonts/gotham/GothamPro-LightItalic.eot');
	src: url('@{public}fonts/gotham/GothamPro-LightItalic.eot?#iefix') format('embedded-opentype'),
	url('@{public}fonts/gotham/GothamPro-LightItalic.woff2') format('woff2'),
	url('@{public}fonts/gotham/GothamPro-LightItalic.woff') format('woff'),
	url('@{public}fonts/gotham/GothamPro-LightItalic.ttf') format('truetype'),
	url('@{public}fonts/gotham/GothamPro-LightItalic.svg#GothamPro-LightItalic') format('svg');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Gotham Pro';
	src: url('@{public}fonts/gotham/GothamPro-Black.eot');
	src: url('@{public}fonts/gotham/GothamPro-Black.eot?#iefix') format('embedded-opentype'),
	url('@{public}fonts/gotham/GothamPro-Black.woff2') format('woff2'),
	url('@{public}fonts/gotham/GothamPro-Black.woff') format('woff'),
	url('@{public}fonts/gotham/GothamPro-Black.ttf') format('truetype'),
	url('@{public}fonts/gotham/GothamPro-Black.svg#GothamPro-Black') format('svg');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Pro Narrow';
	src: url('@{public}fonts/gotham/GothamProNarrow-Bold.eot');
	src: url('@{public}fonts/gotham/GothamProNarrow-Bold.eot?#iefix') format('embedded-opentype'),
	url('@{public}fonts/gotham/GothamProNarrow-Bold.woff2') format('woff2'),
	url('@{public}fonts/gotham/GothamProNarrow-Bold.woff') format('woff'),
	url('@{public}fonts/gotham/GothamProNarrow-Bold.ttf') format('truetype'),
	url('@{public}fonts/gotham/GothamProNarrow-Bold.svg#GothamProNarrow-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Pro';
	src: url('@{public}fonts/gotham/GothamPro.eot');
	src: url('@{public}fonts/gotham/GothamPro.eot?#iefix') format('embedded-opentype'),
	url('@{public}fonts/gotham/GothamPro.woff2') format('woff2'),
	url('@{public}fonts/gotham/GothamPro.woff') format('woff'),
	url('@{public}fonts/gotham/GothamPro.ttf') format('truetype'),
	url('@{public}fonts/gotham/GothamPro.svg#GothamPro') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Pro';
	src: url('@{public}fonts/gotham/GothamPro-MediumItalic.eot');
	src: url('@{public}fonts/gotham/GothamPro-MediumItalic.eot?#iefix') format('embedded-opentype'),
	url('@{public}fonts/gotham/GothamPro-MediumItalic.woff2') format('woff2'),
	url('@{public}fonts/gotham/GothamPro-MediumItalic.woff') format('woff'),
	url('@{public}fonts/gotham/GothamPro-MediumItalic.ttf') format('truetype'),
	url('@{public}fonts/gotham/GothamPro-MediumItalic.svg#GothamPro-MediumItalic') format('svg');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Gotham Pro';
	src: url('@{public}fonts/gotham/GothamPro-Bold.eot');
	src: url('@{public}fonts/gotham/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
	url('@{public}fonts/gotham/GothamPro-Bold.woff2') format('woff2'),
	url('@{public}fonts/gotham/GothamPro-Bold.woff') format('woff'),
	url('@{public}fonts/gotham/GothamPro-Bold.ttf') format('truetype'),
	url('@{public}fonts/gotham/GothamPro-Bold.svg#GothamPro-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Pro';
	src: url('@{public}fonts/gotham/GothamPro-Medium.eot');
	src: url('@{public}fonts/gotham/GothamPro-Medium.eot?#iefix') format('embedded-opentype'),
	url('@{public}fonts/gotham/GothamPro-Medium.woff2') format('woff2'),
	url('@{public}fonts/gotham/GothamPro-Medium.woff') format('woff'),
	url('@{public}fonts/gotham/GothamPro-Medium.ttf') format('truetype'),
	url('@{public}fonts/gotham/GothamPro-Medium.svg#GothamPro-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}


@font-face {
  font-family: 'SPSLClarendonC';
  src: url('@{public}fonts/SPSLClarendonC/SPSLClarendonC.eot?#iefix') format('embedded-opentype'),  
  		url('@{public}fonts/SPSLClarendonC/SPSLClarendonC.otf')  format('opentype'),
	     url('@{public}fonts/SPSLClarendonC/SPSLClarendonC.woff') format('woff'), 
	     url('@{public}fonts/SPSLClarendonC/SPSLClarendonC.ttf')  format('truetype'), 
	     url('@{public}fonts/SPSLClarendonC/SPSLClarendonC.svg#SPSLClarendonC') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SPSLClarendonC';
  src: url('@{public}fonts/SPSLClarendonC/SPSLClarendonC-Bold.eot?#iefix') format('embedded-opentype'),  
  		url('@{public}fonts/SPSLClarendonC/SPSLClarendonC-Bold.otf')  format('opentype'),
	     url('@{public}fonts/SPSLClarendonC/SPSLClarendonC-Bold.woff') format('woff'), 
	     url('@{public}fonts/SPSLClarendonC/SPSLClarendonC-Bold.ttf')  format('truetype'), 
	     url('@{public}fonts/SPSLClarendonC/SPSLClarendonC-Bold.svg#SPSLClarendonC-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
	font-family: 'icons';
	src: url('@{public}fonts/icons/icons.eot?14957487');
	src: url('@{public}fonts/icons/icons.eot?14957487#iefix') format('embedded-opentype'),
	url('@{public}fonts/icons/icons.woff?14957487') format('woff'),
	url('@{public}fonts/icons/icons.ttf?14957487') format('truetype'),
	url('@{public}fonts/icons/icons.svg?14957487#icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PF DinDisplay Pro';
	src: url('@{public}fonts/PFDinDisplayPro/PFDinDisplayPro-Medium.eot');
	src: url('@{public}fonts/PFDinDisplayPro/PFDinDisplayPro-Medium.eot?#iefix') format('embedded-opentype'),
		url('@{public}fonts/PFDinDisplayPro/PFDinDisplayPro-Medium.woff') format('woff'),
		url('@{public}fonts/PFDinDisplayPro/PFDinDisplayPro-Medium.ttf') format('truetype'),
		url('@{public}fonts/PFDinDisplayPro/PFDinDisplayPro-Medium.svg#PFDinDisplayPro-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}
