//
// general style for layouts
//
html {
    color       : @black;

    // to further use sizes in rem
    //.media-for(font-size, @main_font_size); // the adaptive way
    font-size : @main_font_size;

    body {
        background : @white;
        min-width  : @min_width;
        background : url('@{public}images/main-bg.png') no-repeat;
        background-size : cover;
        min-height: 100vh;
        .box-sizing(border-box);
        @media (max-width : 900px) {
            width : 320px;
            min-width : 320px;
            background-image : url('@{public}images/main-bg.png');
            background-repeat : no-repeat;
            background-size : cover;
            overflow-x : hidden;
            
            &.no-mobile {
                margin : 0 auto;
            }
        }

        &.no-scroll {
            overflow : hidden;
        }
        width      : auto;

        // nice fonts Safari
        text-rendering         : optimizeLegibility;
        -webkit-font-smoothing : antialiased;
    }
}

// box-sizing to all
*, *:before, *:after {
    .box-sizing( border-box );
}

// container & wrapper
.container {
    width     : 100%;
}
.wrapper {
    margin       : 0 auto;
    position     : relative;
    lost-utility : clearfix;
}
.layout-wrapper {
    position : relative;
}
