.header {
	background-color : #28D3FE;
	background-image: url('@{public}images/header-bg.png');
	background-repeat: no-repeat;
	.background-size(cover);
	background-position: center right;
	height : 70px;
	font-size : 0;
	box-shadow : 0px 1px 22px black;
	position : absolute;
	top : 0;
	left : 0;
	right : 0;

	@media (max-width: 900px) {
		background: #28D3FE;
		width : 320px;
		height: 140px;

		&--nav-opened {
	    	z-index: 3;
	    	height : auto;
	    	bottom : 0;
		}
		body.no-mobile & {
			left : 50%;
			margin-left : -160px;
		}
	}

	&__caller {
		text-transform: uppercase;
		font-family : 'PF DinDisplay Pro';
		position: absolute;
		right: 20px;
		top: 20px;
		font-size: 18px;
		line-height: 25px;
		padding-left: 16px;

		&, &:hover, &:visited, &:active {
			color : @white;
			text-decoration: none;
		}
		&:before {
			content : url('@{public}images/nav-open.png');
			width : 25px;
			height : 21px;
			display : inline-block;
			position : absolute;
			left : -21px;
		}
		&--close {
			&:before {
				content : url('@{public}images/nav-close.png');
				width : 20px;
				height : 20px;
				display : inline-block;
				position : absolute;
				left : -20px;
			}
		}
		display : none;
		@media (max-width : 900px) {
			display : block;
		}
	}

	&__logo {
		display : inline-block;
		margin-top : 15px;
		vertical-align: top;
		margin-left : 30px;
		&, &:hover, &:active, &:visited {
			text-decoration: none;
		}
	}
	&__socials {
		vertical-align: top;
		display : inline-block;
		lost-utility : clearfix;
		height : 70px;

		@media (max-width: 900px) {
			display : none;
		}
	}
	&__social {
		display : inline-block;
		margin-left : 30px;

		&, &:active, &:visited {
			color : @white;
			text-decoration: none;
		}	
		&:hover {
			color : @white;
			text-decoration: none;
			opacity : .6;
		}
		
	    background-size: 100% 100%;
		&--fb {
			background-image : url('@{public}images/social/fb-medium.png');
			width : 8px;
			height : 15px;
			margin-top : 27px;
		}
		&--vk {
			background-image : url('@{public}images/social/vk-medium.png');
			width : 11px;
			height : 13px;
			margin-top : 28px;
		}
	}

	&__nav {
		vertical-align: top;
		lost-utility : clearfix;
		display : inline-block;
		text-align: center;
		width: ~"calc(100% - 558px)";
		overflow: hidden;
		height: 70px;

		@media (max-width: 900px) {
			width : 320px;
			padding-top : 100px;
			background-color : #28D3FE;
			height : auto;

			opacity : 0;
			z-index : -1;
			transition : opacity .2s ease-out;
			&--opened {
				opacity : 1;
				z-index : 99;
				transition : opacity .4s ease-in;
			}
		}

		&-item {
			font-size : 18px;
			line-height : 70px;
			display : inline-block;
			font-family : 'Gotham Pro', Arial;
			margin-right : 40px;
			&:last-child {
				margin-right : 0;
			}
			&, &:active, &:visited {
				color : @white;
				text-decoration: none;
			}	
			&:hover, &.active {
				color : @purple;
				text-decoration: none;
			}
			@media (max-width: 900px) {
				display : block;
				margin : 0;
				text-align : center;
				font-size : 30px;
				font-weight : 500;
			}
		}
	}

	&__tricolor {
		display : inline-block;
		height: 70px;
		line-height: 70px;
		float : right;
		margin-right : 30px;
		
		img {
			display: inline-block;
			vertical-align: middle;
		}
		@media (max-width: 900px) {
			display : block;
			z-index : 99;
			margin: 0;
			width: 320px;
			height: 70px;
			float : none;
			background-image : url('@{public}images/logo-tricolor.mobile.png');
			background-position : center center;
			background-color : #1b0a33;
			background-repeat: no-repeat;
			position : absolute;
			top : 70px;
			img {
				display : none;
			}
		}
	}
}
.layout-header{
	lost-utility : clearfix;
}