//
// Pages custom styles
//
.page-wrapper {
	lost-utility : clearfix;
	padding-top : 70px;
}
.btn {
	display : inline-block;
	min-height : 50px;
	min-width : 280px;
	box-shadow : 0 2px 20px rgba(0,0,0,.6);
	padding-left : 10px;
	background : #62dfff;
	text-align : center;
	font-size : 18px;
	line-height : 22px;
	font-weight : 300;
	text-transform: uppercase;
	padding-top : 14px;
	position : relative;

	&, &:hover, &:visited, &:active {
		color : @purple;
		text-decoration: none;
	}
	&--active {
		&, &:hover, &:visited, &:active {
			color : @white;
			background : #f17451;
		}
	}
	&--extra-padding {
		padding-left : 30px;
		padding-right : 30px;

		@media (max-width: 900px) {
			padding-left : 0;
			padding-right : 0;
			max-width : 280px;
			padding-bottom: 14px; 
		}

	}
	&--inactive {
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#828282+0,828282+60,bebebe+100 */
		background: #828282; /* Old browsers */
		background: -moz-linear-gradient(45deg,  #828282 0%, #828282 60%, #bebebe 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(45deg,  #828282 0%,#828282 60%,#bebebe 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(45deg,  #828282 0%,#828282 60%,#bebebe 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#828282', endColorstr='#bebebe',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
		&, &:hover, &:visited, &:active {
			color : @white;
		}
	}

	&__text {
		font-size : 18px;
		line-height : 22px;
		font-weight : 300px;
		text-transform: uppercase;

		.btn--active &, .btn:hover & {
			text-shadow : 0 3px 6px fade(#31003c, 30%);
		}

		strong {
			font-weight : 500px;
		}
	}
	&__corner {
		font-weight : 500;
		position : absolute;
		right : 4px;
		top : 2px;
		font-size : 14px;
		color : @white;
	}

	strong {
		font-weight : 500;
	}

}

.mobile-overlay {
	display : none;
	position : fixed;
	top : 0;
	left : 0;
	right : 0;
	bottom : 0;
	background : fade(@black, 90%);
	z-index : 99;
	&--active {
		display : block;
	}
}

br.on-desktop { display : block;}
br.on-mobile { display : none;}
@media (max-width : 900px) {
	br.on-desktop { display : none;}
	br.on-mobile { display : block;}
}
html body.page-404{
	background-color: @purple;
	background-image: url("@{public}images/404-bg.jpg");
	background-repeat: no-repeat;
	.content{
		margin: 0;
		width: auto
	}
}
.box-404{
	max-width: 1300px;
	margin:0 auto 10px;
	border: 18px solid @white;
	.box-shadow(~'9px 11px 18px rgba(0,0,0,0.5),-11px 0px 18px rgba(0,0,0,0.5)');
	@media @media_small {
		border-width: 5px;
		.box-shadow(~'4px 6px 10px rgba(0,0,0,0.3),-6px 0px 10px rgba(0,0,0,0.3)');
	}

	&-bant{
		margin-top: 0;
		margin-bottom: -3px;
		height: 220px;
		background: url("@{public}images/bant.png") no-repeat center top;
		position: relative;
		z-index: 1;
		@media @media_small {
			margin-top: 65px;
			height: 70px;
			.background-size(auto 100%);
		}
	}
	&__inn{
		.box-shadow(inset 0px 11px 20px fade(@black,50%));
		padding-top: 1px;
		background: url("@{public}images/404-inner.png") no-repeat left top;
		@media @media_small {
			overflow: hidden;
			.box-shadow(inset 0px 6px 10px fade(@black,30%));
		}
	}
	&__body{
		position: relative;
		font-size: 300px;
		font-weight: bold;
		text-align: center;
		line-height: 1em;
		margin: 30px 0 40px;
		@media @media_small {
			font-size: 80px;
		}
		&:after{
			content: "";
			position: absolute;
			background: url("@{public}images/rules/blik1.png") repeat-x;
			width: 600px;
			height: 85px;
			z-index: 1;
			left: 50%;
			margin-left: -300px;
			bottom: 0;
			@media @media_small {
				width: 100%;
				left: 0;
				margin: 0;
				bottom: -31px;
			}
		}
	}
	&__footer{
		font-size: 18px;
		text-align: center;
		margin-bottom: 15px;
		a{
			color: inherit;
		}
	}
}