.bricks {
	width : 100%;
	font-size : 0;
	position : relative;
	lost-utility : clearfix;
	display : inline-block;

	&--blick {
		&:before {
			content : url('@{public}images/b-2.png');
			width : 312px;
			height : 85px;
			position : absolute;
			top: -43px;
			left: 42px;
			z-index: 99;
			display : inline-block;
			@media (max-width: 900px) {
				content : none;
			}
		}
	}

	&--hide-last2-on-mobile {
		@media (max-width: 900px) {
			.bricks__item:nth-child(3) { display : none;}
			.bricks__item:nth-child(4) { display : none;}
		}
	}

	&__item {
		lost-column : 1/2 2 2px;
		height : 140px;
		font-size : 18px;
		font-weight : 900;

		display : inline-block;
		text-align : center;

		display: flex;
		align-items: center;
		justify-content: center;

		html.ie10 & {
		    display: -ms-flex;
		    -ms-flex-pack: center;
		    -ms-flex-align: center;
		}


		background : fade(@black, 20%);
		cursor : default;
		.bricks--hoverable &:hover { background : fade(@black, 50%); cursor : pointer;}

		&, &:hover, &:visited, &:active {
			text-decoration: none;
			color : @white;
			position : relative;
		}
		@media (max-width : 900px) {
			width : 100%;
			margin-right : 0;
			margin-left : 0;
			margin-bottom : 2px;
		}
	}

	&--q4 {
		.bricks__item {
			height : 70px;
			margin-bottom : 2px;
		}
	}

	&__over {
	    font-size: 40px;
		font-family: 'Gotham Pro';
		font-weight: 400;
		text-align: center;
		width: 100%;
		position: absolute;
		left: 0;
		top: 50%;
		margin-top: -20px;

		&, &:hover, &:visited, &:active {
			color : @white;
			text-decoration: none;
		}
	}
}