.content {
	display : block;
	margin-left : 320px;
	width : ~"calc(100% - 320px)";
	min-height : 675px;
	padding-top: 1px;
	font-family : 'Gotham Pro', Arial;
	color : @white;
	position: relative;

	@media (max-width : 900px) {
		width : 320px;
		min-height : 0;
		margin-left : 0;
		overflow : hidden;
		background : transparent;
	}
    &--static{
        padding: 1px 30px 0;
        @media @media_small {
            padding: 1px 10px 0;
        }
        section{
            overflow: hidden;
        }
    }

	&__heading {
		font-family : 'SPSLClarendonC', Verdana, sans-serif;
		font-size : 24px;
		font-weight : bold;
		text-align: center;
		margin-top : 40px;
		position: relative;
		strong {
			color : #28d3fe;
		}
		@media (max-width: 900px) {
			strong { display : block; }
		}

		&:after {
			content : url('@{public}images/heading-blick.png');
			width : 610px;
			height : 61px;
			display : inline-block;
			position : absolute;
			top: -14px;
			left: 50%;
			margin-left: -290px;
			@media (max-width: 900px) {
				top: -12px;
				margin-left: -225px;
			}
		}
	}
	&__tvshow {
	}
	&__subheading {
		font-size : 18px;
		font-weight : 500;
		width : 100%;
		text-align: center;
		&--expanded {
			height : 200px;
			@media (max-width: 900px) {
				height : 240px;
			}
		}
		@media (max-width : 900px) {
			margin-top : 50px;
		}
		min-height: 130px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction : column;

		html.ie10 & {
		    display: -ms-flex;
		    -ms-flex-direction : column;
		    -ms-flex-pack: center;
		    -ms-flex-align: center;
		}

		&-line1 {
			margin-bottom : 10px;
		}

		&-line2 {
			font-size : 14px;
			line-height : 18px;
			font-weight : 400;
			text-align: center;

			a, a:hover, a:visited, a:active {
				color : white;
			}
		}
		&-line-big {
			font-size: 42px;
			font-weight: 400;
			line-height: 52px;
			letter-spacing: .3px;
			@media (max-width : 900px) {
				line-height : 48px;
				font-size : 39px;
			}
		}
		&-line-small {
			font-size : 18px;
			line-height : 24px;
			font-weight : 900;
			letter-spacing : .7px;
			@media (max-width: 900px) {
				padding-bottom : 30px;
			}
		}
	}
	&__social-auth {
		width : 90%;
		margin : 0 auto 50px auto;

		.bricks__item {
			padding-top : 95px;
		}
	}

	&__social-link {
		&--fb {
			&:before {
				content : url('@{public}images/social/fb-larger.png');
				width: 27px;
				height: 50px;
				position: absolute;
				left: 50%;
				margin-left: -13.5px;
				top: 25px;
			}
		}
		&--vk {
			&:before {
				content : url('@{public}images/social/vk-larger.png');
				width: 37px;
				height: 43px;
				position: absolute;
				left: 50%;
				margin-left: -18.5px;
				top: 30px;
			}	
		}
	}

	&__ready {
		margin : 0px auto 30px auto;
		width : 90%;
	}
	&__question {
		margin : 0px auto 30px auto;
		width : 90%;

		.bricks__item--active {
			color : #ea5d33;
			position : relative;
			background : fade(@black, 50%);

			&:before {
				content : url('@{public}images/mark-orange.png');
				width : 23px;
				height : 20px;
				position : absolute;
				left : -10px;
				top : 50%;
				margin-top : -10px;
			}
		}
	}

	&__extra-question {
		text-align: center;
		margin-bottom : 30px;
		margin-top : -10px;
	}

	&__donotgiveup {
		font-size: 18px;
		font-weight: 500;
		line-height: 20px;

		@media (max-width : 900px) {
			line-height : 22px;
			margin-top : -44px;
		}
	}
	&__finish {
		margin-top : -47px;
		@media (max-width : 900px) {
			margin-top : -75px;
		}
		&-line1 {
			font-size: 48px;
			font-weight: 500;
			letter-spacing: .3px;
			line-height: 52px;
			text-transform: uppercase;
		}
		&-line2 {
			font-size: 48px;
			font-weight: 300;
		}
	}

	&__how-to-pay {
		padding-top : 20px;
		padding-bottom : 15px;

		@media (max-width: 900px) {
			margin-left : -20px;
		}
		&-btn {
			border: 2px solid rgba(255, 255, 255, 0.43);
		    height: 40px;
		    width: 230px;
		    text-align: center;
		    display: inline-block;
		    line-height: 38px;
		    margin-bottom: 10px;
		    position : relative;

		    &, &:hover, &:visited, &:active {
		    	color: @white;
				text-decoration: none;
		    }

		    &:after {
		    	width : 131px;
		    	height : 131px;
		    	position : absolute;
				right: -68px;
				top: -49px;
		    	background : url('@{public}images/one.png');
		    	content : '';
		    }
		}
	}

	&__footer {
		font-size : 14px;
		line-height : 18px;
		text-align : center;

		&-socials {
			margin-top : 20px;
			padding-bottom : 30px;
			text-align : center;
			@media (max-width : 900px) {
				padding-bottom : 0;
			}
			> div {
				font-size : 14px;
			}
		}

		&-social {
			display : inline-block;
			margin-right : 28px;
			&:last-child {
				margin-right : 0;
			}

			&, &:active, &:visited {
				color : @white;
				text-decoration: none;
			}	
			&:hover {
				color : @white;
				text-decoration: none;
				opacity : .6;
			}
			background-size: 100% 100%;


			&--fb {
				background-image : url('@{public}images/social/fb-medium.png');
				width : 8px;
				height : 15px;
				margin-top : 8px;
			}
			&--vk {
				background-image : url('@{public}images/social/vk-medium.png');
				width : 11px;
				height : 13px;
				margin-top : 10px;
			}
			&--tw {
				background-image : url('@{public}images/social/tw-medium.png');
				width : 10px;
				height : 13px;
				margin-top : 10px;
			}
		}
	}

	&__timer {

		&-labels {
			display : none;
		}

		@media (max-width : 900px) {
			display : block;
			padding-top : 20px;
			position : static;
			clear : both;
			&-labels {
				display : inline-block;
				font-size : 14px;
				padding : 0 20px;
				vertical-align: middle;
			}
		}
	}

	&__footer-copyright {
		display : none;
		text-align: center;
		margin-top: 40px;
		margin-bottom: 30px;
		@media (max-width: 900px) {
			display : block;
		}
	}
	&__text-uppercase{
		font-size: 25px;
		text-transform: uppercase;
		font-weight: bold;
        text-align: center;
        margin-bottom: 25px;
        @media @media_small {

        }
	}
}