.popup-take-part {
	//display: block;

	color: @white;
	&__container{
		padding: 25px 50px 30px;
		background: #805a87 url("@{public}images/popup-tp-bg.jpg") no-repeat center;
		font-family : 'Gotham Pro';
		font-size: 16px;
	}
	&__line {
		height : 2px;
		width : 360px;
		background : white;
		margin-top : 220px;
	}

	p{
		font-size: 16px;
		font-weight: bold;
	}
	.popup__logo{
		width: 129px;
		height: 49px;
		background: url("@{public}images/logo-popup.png") no-repeat;
		margin-bottom: 20px;
	}
	.popup__date{
		margin-bottom: 15px;
	}
	.popup__heading{
		font-size: 32px;
		line-height: 36px;
		&:after{
			content: none;
			display: none;
		}
	}
	p&__sertif{
		font-weight: normal;
		font-size: 20px;
		b{
			font-weight: bold;
		}
	}
	.btn{
		position: relative;
		margin-top: 20px;
		&:after{
			content: "";
			position: absolute;
			top: -42px;
			left: 0;
			width: 80px;
			height: 81px;
			background: url("@{public}images/b-1.png") no-repeat;
		}
	}
	.popup__rules-lk{
		display: inline-block;
		margin-top: 40px;
		color: @white;
	}
}