.popup-dogovor {

	&__container {
		max-width : 740px;

		@media (min-width: 901px) { // only desktops
			margin-top: 550px;
		}
	}

	&__ihaveno-link {
		font-size: 14px;
		letter-spacing : .3px;
		font-family : 'Gotham Pro';
		font-weight : 500;
		&, &:hover, &:visited, &:active {
			color : white;
			text-decoration: underline;
		}
		&:hover {text-decoration: none;}
	}
	&__confirmation {
		margin : 0;
		font-size: 14px;
		letter-spacing : .3px;
		font-family : 'Gotham Pro';
		font-weight : 500;
		color : white;
		display : none;
	}
	&__tricolor {
		margin-top : 40px;

		@media (max-width : 900px) {
			display : none;
		}
	}

	.popup__input {
		width : 100%;
	}
	.popup__button {
		margin-left : 140px;
	}
}