.popup-gifts {

	&__container {
		@media (min-width: 901px) {
			min-width : 874px;
		}
	}
	&__form {
		lost-utility : clearfix;
	}
	&__form-elem {
		@media (min-width: 901px) {
			lost-column : 1/2 2 40px;
			input { width : 100%; }
		}
	}

	.popup__mark {
		margin-top : 25px;
	}
	.popup__button {
		margin-top : 25px;
	}
	.popup__confirmation {
		clear : both;
	}
}

.simpleselect {
	width : 100%;
	height : 50px;
	
	.placeholder {
		box-sizing: border-box;
		height: 50px;
		padding: 0 20px;
		font-size: 16px;
		line-height: 48px;
		background: fade(white, 20%);
		color: #B7B7B7;
		border-radius : 3px;

		&:hover {
			background: fade(white, 20%);
			color: #B7B7B7;	
		}
	}
	.options {
		width : 100%;
		overflow-y : hidden !important;
		.option {
			height : 50px;
			line-height : 48px;
			font-size : 16px;
			padding : 0 20px;
		}

		&.n-1 { height : 50px !important; }
		&.n-2 { height : 100px !important; }
		&.n-3 { height : 150px !important; }
		&.n-4 { height : 200px !important; }
		&.n-5 { height : 250px !important; }
		&.n-6 { height : 300px !important; }
		&.n-7 { height : 350px !important; }
		&.n-8 { height : 400px !important; }
		&.n-9 { height : 450px !important; }
		&.n-10 { height : 500px !important; }
		&.n-11 { height : 550px !important; }
		&.n-12 { height : 600px !important; }
		&.n-13 { height : 650px !important; }
	}
}