.popup {
	position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    overflow: auto;
    align-items : center;
    justify-content : center;
    html.ie10 & {
        -ms-flex-pack: center;
        -ms-flex-align: center;
    }
    
    background: rgba(15,11,16,.88);  

    @media (max-width: 900px) {
        overflow-x : hidden !important;
        overflow-y : auto;
    }

    display : none;
    &.active {
    	display : flex;
        html.ie10 & {
            display: -ms-flex;
        }

        @media (max-width: 900px) {
            display : block;
        }
    }

    &__container {
        position : relative;
        background : #52135b;
        z-index : 9999;
        max-width : 460px;
        padding : 50px;
        margin-bottom : 40px;

        @media (max-width: 900px) {
            width: 320px;
            max-width : none;
            padding: 50px 15px;
            display: block;
            margin-top: 70px;
            margin-bottom: 170px;
        }
    }
    &__close {
        position : absolute;
        top : 10px;
        right : -40px;
        width : 50px;
        height : 50px;
        background : url('@{public}images/nav-close.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-color: #f17451;
        cursor : pointer;
        z-index : 999;

        @media (max-width: 900px) {
            bottom: -80px;
            left: 50%;
            top : auto;
            right : auto;
            margin-left: -25px;
        }
    }

    &__heading {
        color : white;
        font-family : 'SPSLClarendonC';
        font-size: 36px;
        line-height : 46px;
        text-transform: uppercase;
        font-weight : bold;
        margin-bottom : 15px;
        position : relative;
        &:after {
            content : url('@{public}images/b-3.png');
            width : 896px;
            height : 85px;
            position : absolute;
            display : inline-block;
            bottom: 24px;
            left: -336px;
        }
    }

    &__subheading {
        font-size : 20px;
        color : white;
        font-family : 'Gotham Pro';
        line-height : 24px;
        text-transform: uppercase;
        font-weight : normal;
        margin-bottom : 20px;
    }

    &__hint {
        color : white;
        font-family : 'Gotham Pro';
        font-size : 14px;
        line-height : 20px;
        margin-bottom : 25px;
        padding-right : 20px;
        font-weight : 500;
    }
    &__form {}

    &__label {
        font-size : 14px;
        line-height : 18px;
        font-weight : 500;
        font-family : 'Gotham Pro';
        color : white;
        padding-bottom : 6px;
        display : block;
        margin-top : 25px;
        label.error + & {
            margin-top : 12px;
        }

        &--checkbox {
            position : relative;
            input[type=checkbox] {
                vertical-align: middle;
                margin-right : 10px;
            }
            a {
                &, &:hover, &:visited, &:active {
                    color : @white;
                }
            }
            label.error {
                position: absolute;
                bottom : -14px;
            }
        }
    }

    &__input {
        padding-left : 20px;
        padding-right : 20px;
        font-size : 16px;
        line-height : 50px;
        width: 360px;
        height: 50px;
        border-radius: 3px;
        background : white;
        font-weight : normal;
        color : #B7B7B7;

        &, &:focus {
            border : 1px solid #B7B7B7;   
        }
        background : fade(@white, 20%);
        &:focus, &:active {
            background : @white;
            color : @black;
        }

        &.valid {
            background-color : white;
            background-image : url('@{public}images/mark-orange.png');
            background-repeat: no-repeat;
            background-position: 96% 50%;
            color : black;
        }
        &, &:focus {
            outline: none;
        }
        @media (max-width : 900px) {
            width : 100%;
        }

        &::-webkit-input-placeholder {
            font-size : 16px;
            color : #B7B7B7;
            font-weight : 100;
        }
        &::-ms-input-placeholder {
            font-size : 16px;
            color : #B7B7B7;
            font-weight : 100;
        }
        &:-moz-placeholder {
            font-size : 16px;
            color : #B7B7B7;
            font-weight : 100; 
        }
    }
    &__button {
        width : 360px;
        margin-bottom : 40px;
        margin-top : 20px;
        padding : 0;
        font-weight : 700;
        font-size: 17px;
        letter-spacing: .6px;

        @media (max-width : 900px) {
            width : 100%;
        }

        &, &:focus {
            outline : none;
            border : none;
        }
    }

    &__footer {
        text-align : center;
    }

    &__confirmation {
        font-size: 14px;
        letter-spacing : .3px;
        font-family : 'Gotham Pro';
        font-weight : 500;
        color : white;
        display : none;
        text-align: center;
    }

    label.error {
        font-size: 14px;
        color: #FF6C6C;
        font-family: 'Gotham Pro';
        font-weight: 500;
        padding-top: 7px;
        display: block;
    }

    &__mark {
        font-size : 14px;
        color : #B7B7B7;
        line-height : 18px;
        position : relative;

        &:before {
            content : '*';
            position : absolute;
            left : -8px;
            top : 0;
            font-size : 14px;
            color : #B7B7B7;
        }
    }
}