.popup-invite {

	&__line {
		height : 2px;
		width : 360px;
		background : white;
		margin-top : 220px;
	}
	&__invite-them-all {
		font-size : 16px;
		text-transform: uppercase;
		font-family : "Gotham Pro";
		color : white;
		text-align: center;
		margin-top : 40px;
	}
	&__socials {
		margin-top : 40px;
		text-align : center;
	}
	&__social {
		margin-right : 70px;
		&:first-child {
			margin-left : 10px;
		}
		&:last-child {
			margin-right : 0;
		}
		&, &:hover, &:visited, &:active {
			text-decoration: none;
		}
	}
	&--screen1 { 
		.popup-invite__screen1 { display: block;}
		.popup-invite__screen2 { display: none;}
	}
	&--screen2 { 
		.popup__container {
			@media (max-width: 900px) {
				overflow : hidden !important;	
			}

			&:before {
				content: url('@{public}images/big-mark.png');
				width : 291px;
				height : 253px;
				position: absolute;
				z-index: -1;
				opacity: .2;
				right : 45px;
				@media (max-width: 900px) {
					right : 0;
				}
			}
		}
		.popup-invite__screen1 { display: none;}
		.popup-invite__screen2 { display: block;}
	}
}