.rules{
    &__head{
        lost-utility : clearfix;
        background: @lightpurple url("@{public}images/rules/big-logo-transparent.png") no-repeat left bottom;
        .background-size(100% auto);
        display: table;
        width: 100%;
    }
    &__content{
        lost-utility : clearfix;
        background: @white;
        color: @purple;
        padding: 10px 22px 1px;
        .box-shadow(inset 0 7px 20px fade(@black,20%));
        counter: big;
        >ul{
            list-style: none;
            padding-left: 0;
            h3, .h3{
                display: inline-block;
                font-size: 14px;
                text-transform: uppercase;
                font-weight: bold;
                +p{
                    margin-top: 0;
                }
            }
            >li{
                counter: sm;
                counter-increment: big;
                counter-reset: sm;
                margin-top: 20px;
                padding-left: 30px;
                &:first-child{
                    margin-top: 0;
                }
                &:before{
                    content: counter(big)+'.';
                    display: inline-block;
                    font-size: 24px;
                    font-weight: bold;
                    margin-left: -30px;
                }
                >ul{
                    list-style: none;
                    padding-left: 0;
                    >li{
                        counter-increment: sm;
                        &:before{
                            content: counter(big)'.'counter(sm)'.';
                            display: inline-block;
                            margin-right: 2px;
                        }
                    }
                }
            }
        }
    }
    &__left{
        width: 40%;
        padding: 33px 30px;
        display: table-cell;
        vertical-align: middle;
        font-size: 30px;
        font-family : 'SPSLClarendonC', Verdana, sans-serif;
        font-weight : bold;
        position: relative;
        &:before{
            content: "";
            background: url("@{public}images/rules/blik1.png");
            width: 312px;
            height: 85px;
            position: absolute;
            top:51px;
            left: -20px;
            @media @media_small {
                top: 4px;
            }

        }
    }
    &__right{
        padding: 30px;
        background: fade(@white,20%);
        width: 60%;
        display: table-cell;
        vertical-align: middle;
        height: 100%;
        line-height: 1.5em;
        ul{
            list-style: none;
            counter: cnt;
            padding: 0;
            li{
                counter-increment: cnt;
                margin: 10px 0;
                &:before{
                    content:counter(cnt)+'.';
                    display: inline-block;
                    margin-right: 3px;

                }
            }
        }
    }
    &__left, &__right{
        @media @media_small {
            display: block;
            width: 100%;
            padding: 10px 20px;
        }
    }
    &__left{
        @media @media_small {
            padding: 20px 20px;
        }
    }
}