.sidebar {
	width : 320px;
	float : left;

	background : #814390 url('@{public}images/sidebar-bg.png');
	background-size : cover;
	background-repeat : no-repeat;
	min-height : 675px;
	font-family : 'Gotham Pro', Arial;

	@media (max-width: 900px) {
		float : none;
		min-height : 0;
		background : transparent;
		margin-top : 70px;
	}

	&__wrapper {
		width : 280px;
		margin : 0 auto;
		position : relative;
		min-height : 675px;
		height : 100%;
		padding-top : 20px;

		@media (max-width: 900px) {
			min-height : 0;
			height : auto;
		}
	}

	&__auth {
		margin-bottom : 30px;
		font-size : 0;
		&-block {
			width : 284px;
			height : 77px;
			margin-left : -2px;
			background: url('@{public}images/auth-block-bg.png');
			position : relative;
		}
		&-rate, &-place {
			top : 14px;
			text-align: center;
			position : absolute;
			display : inline-block;
			strong { position: relative;
				font-weight : bold; font-family : 'SPSLClarendonC'; font-size: 30px; color : @white; display : block;}
			strong.star {
				&:after { 
					content : '*'; 
					position : absolute; 
					right: -15px;
    				top: -7px;
					color : @white;
    			}
			}
			span { font-weight: 500; font-family : 'Gotham Pro'; font-size : 14px; color: @white; opacity:.6; display : block;}
		}
		&-rate {
			left : 30px;
		}
		&-place {
			right : 30px;
		}
		&-avatar {
			width : 54px;
			height : 54px;
			border : 2px solid @white;
			display : inline-block;

			position : absolute;
			top : 10px;
			left : 115px;
			box-shadow : 3px 0px 6px rgba(0,0,0,.6);
			img {
				width : 50px;
				height : 50px;
			}
			&:before {
				content : url('@{public}images/b-1.png');
				width : 80px;
				height : 85px;
				display : inline-block;
				position : absolute;
				top: -45px;
				left: -41px;
			}
			&:after {
				width : 29px;
				height : 34px;
				display : inline-block;
				right: -20px;
				position: absolute;
				top: -17px;
			}
			&--fb {
				&:after {
					content : url('@{public}images/avatar--fb.png');
				}
			}
			&--vk {
				&:after {
					content : url('@{public}images/avatar--vk.png');
				}
			}
		}
		&-name {
			font-size: 16px;
			color: white;
			font-family: 'Gotham Pro';
			text-align: center;
			margin-top: 8px;
			font-weight: 500;
			margin-bottom: 10px;
		}
		&-exitlink {
			font-size: 14px;
			font-weight: 300;
			font-family: 'Gotham Pro';
			display: block;
			&, &:hover, &:visited, &:active {
				color: #b7b7b7;
				text-decoration: none;
			}
			text-align: center;
			&:after {
				width: 19px;
				content: url('@{public}images/exit-link.png');
				height: 15px;
				vertical-align: middle;
				display: inline-block;
				opacity: .6;
				margin-left: 4px;
			}
		}
		label {
			font-size : 14px;
			line-height : 18px;
			color : @white;
			text-align : center;
			display : block;
		}
		&-btn {
			margin-top : 10px;
			&:last-child {margin-left :2px;}
			font-size : 14px;
			text-align : center;
			width : 139px;
			height : 70px;
			display : inline-block;
			background : fade(@black, 20%);
			&:hover { background : fade(@black, 50%); }

			padding-top : 48px;

			&, &:hover, &:visited, &:active {
				text-decoration: none;
				color : @white;
				position : relative;
			}

			&--fb {
				&:before {
					content : url('@{public}images/social/fb-large.png');
					width: 15px;
					height: 28px;
					position: absolute;
					left: 50%;
					margin-left: -7px;
					top: 10px;
				}
			}
			&--vk {
				&:before {
					content : url('@{public}images/social/vk-large.png');
					width: 23px;
					height: 26px;
					position: absolute;
					left: 50%;
					margin-left: -11px;
					top: 10px;
				}	
				&:after {
					content : url('@{public}images/vk-blick.png');
					width: 57px;
					height: 34px;
					position: absolute;
					top: 18px;
					left: 34px;
				}		
			}
		}
	}

	@media (max-width: 900px) {
		&__overlay-wrapper {
			display : none;
			&--opened {
				display : block;
				position: fixed;
				z-index: 102;
				right: 0;
				left: 0;
				top: 0;
				bottom : 0;
				overflow-y: scroll;
				padding-left: 20px;
				padding-top: 84px;
			}

			&-close {
				display : none;

				width : 50px;
				height : 50px;
				background : url('@{public}images/nav-close.png');
				background-position: center center;
				margin-top: 20px;
				margin-bottom : 20px;
				background-repeat: no-repeat;
				background-color: #f17451;
				margin-left: 115px;

			}
			&--opened  &-close {
				display : block;
			}
		}
	}

	&__menu {
		position : relative;
		@media (max-width : 900px) {
			height : 360px;
		}
		&-caller {
			display : none;
			@media (max-width : 900px) {
				display : block;	
				&--close {
					display : none;
				}
			}
		}

		> label {
			text-transform: uppercase;
			color : white;
			font-size : 18px;
			line-height : 20px;
			font-weight : 300;
			strong { font-weight : 500; }
		}

		&-item {
			width : 280px;
			height : 70px;
			position : absolute;
			left : 0;
			box-shadow : 0 2px 20px rgba(0,0,0,.6);
			display : flex;
			align-items: center;
			html.ie10 & {
			    display: -ms-flex;
			    -ms-flex-align: center;
			}
			text-align : left;
			padding-left : 10px;
			padding-top : 0;

			&.btn--active {
				&:after {
					content : url('@{public}images/active-button.blick.png');
					width : 147px;
					height : 36px;
					display : inline-block;
					position : absolute;
					top : -18px;
					right : 0;
				}
			}

			&--answer { 
				top : 70px;
				z-index : 5;
			}
			&--share {
				top : 150px;
				z-index: 4;
				left : -10px;
			}
			&--invite {
				top : 219px;
				z-index: 3;
				left : 10px;
				background : #24cdf7;
			}
			&--ask {
				top : 288px;
				z-index : 2;
			}
			&.btn--active, &:hover {
				background : #f17451;
				z-index : 5;
				&, &:hover, &:visited, &:active {
					color : @white;
				}
			}
		}
	}

	&__tricolor {
		margin-top: 315px;
		margin-bottom: 55px;
		@media (max-width : 900px) {
			margin-top : 0;
		}
		label {
			color: @white;
			font-size: 14px;
			line-height: 18px;
			font-weight: 400;
			display: block;
			margin-bottom: 8px;
			letter-spacing: -.4px;
			font-family : 'Gotham Pro';
			strong { font-weight : 500; }
		}

		&-ask {
			display : block;
			text-align: center;
			padding-top : 34px;
			&, &:hover, &:visited, &:active {
				color : @white;
				text-decoration: none;
				span {
					border-bottom : 1px dashed @white;
				}
			}
			&:hover {
				span {
					border-bottom : 1px solid @white;
				}
			}
		}
	}

	&__footer {
		position : absolute;
		bottom : 7px;
		text-align : center;
		width : 100%;

		@media (max-width : 900px) {
			display : none;
		}
	}
	&__copyright {
		font-size : 11px;
		line-height : 15px;
		color : #B7B7B7;
	}
	&__webstudio {
		font-size : 11px;
		line-height : 15px;
		color : #B7B7B7;

		a, a:visited, a:active {
			text-decoration: underline;
			color : #B7B7B7
		}
		a:hover {
			color : #B7B7B7;
			text-decoration: none;
		}
	}
}