.two-sided{
    lost-utility : clearfix;
    background: @lightpurple url("@{public}images/rules/big-logo-transparent.png") no-repeat left bottom;
    .background-size(100% auto);
    display: table;
    width: 100%;
    margin: 0 0 -10px 20px;
    .box-shadow(0 7px 20px fade(@black,40%));
    position: relative;
    z-index: 1;
    
    @media @media_small {
        margin: 0 0 10px 0;
        .box-shadow(none);
    }

    &__left{
        width: 40%;
        padding: 33px 30px;
        display: table-cell;
        vertical-align: middle;
        font-size: 30px;
        font-family : 'SPSLClarendonC', Verdana, sans-serif;
        font-weight : bold;
        position: relative;
        &:before{
            content: "";
            background: url("@{public}images/rules/blik1.png");
            width: 312px;
            height: 85px;
            position: absolute;
            top:51px;
            left: -20px;
            @media @media_small {
                top: 4px;
            }

        }
    }
    &__right{
        padding: 30px;
        background: fade(@white,20%);
        width: 60%;
        display: table-cell;
        vertical-align: middle;
        height: 100%;
        line-height: 1.5em;
        ul{
            list-style: none;
            counter: cnt;
            padding: 0;
            li{
                counter-increment: cnt;
                margin: 10px 0;
                &:before{
                    content:counter(cnt)+'.';
                    display: inline-block;
                    margin-right: 3px;

                }
            }
        }
    }
    &__left, &__right{
        @media @media_small {
            display: block;
            width: 100%;
            padding: 10px 20px;
        }
    }
    &__left{
        @media @media_small {
            padding: 20px 20px;
        }
    }
}
.right-backgrounded{
    position: relative;
    padding: 25px 300px 25px 25px;
    margin-bottom: 10px;
    &__head{
        font-size: 24px;
        font-weight: 200;
        margin-bottom: 20px;
        &--blicked{
            position: relative;
            font-family: 'SPSLClarendonC', Verdana, sans-serif;
            font-size: 48px;
            font-weight: bold;
            margin-bottom: 15px;
            &:before{
                content: "";
                position: absolute;
                background: url("@{public}images/rules/blik1.png") no-repeat;
                width: 312px;
                height: 85px;
                z-index: 1;
            }
        }
        @media @media_small {

        }
    }
    &__msg {
        background: url("@{public}images/msg-bg.png") no-repeat;
        position: absolute;
        bottom: -75px;
        width: 400px;
        height: 168px;
        padding: 58px 40px 40px;
        font-size: 16px;
        @media @media_small {
            width: auto;
            background-size: 100% 100%;
            left: 0;
            height: 201px;
            position: relative;
            bottom: auto;
            margin: 9px -10px -31px -20px;
        }
    }
    &__body{

    }
    &--green{
        background: @seagreen url("@{public}images/gray-bg.png") no-repeat center right;
        .background-size(auto 100%);
        margin: 0 20px 10px 0;
    }
    &--grey{
        background: @lightgrey url("@{public}images/present-bg.jpg") no-repeat center right;
        .background-size(auto 100%);

        margin: 0 50px 60px 0;
        .right-backgrounded__head {
            font-size: 32px;
            padding-bottom: 57px;
            color: @purple;
            @media @media_small {
                margin-bottom:-26px;
                padding-bottom: 0;
            }
        }
        @media @media_small {
           &.right-backgrounded{
            padding-bottom: 0;
               background-position: top center;
               margin-bottom: 10px;
           }
        }

    }
    &--orange{
        background: @orange url("@{public}images/anatomy-orange.jpg") no-repeat center right;
        .background-size(auto 100%);
        .right-backgrounded__body{
            color: @purple-text;
        }
        .right-backgrounded__head--blicked{
            &:before{
                margin-left: 16px;
            }
        }
    }
    &--white{
        background: @white url("@{public}images/kasl-white.jpg") no-repeat center right;
        .background-size(cover);

        .right-backgrounded__body{
            color: @purple-text;
        }
        .right-backgrounded__head{
            color: @purple;
        }
        .right-backgrounded__head--blicked{
            &:before{
                margin-left: -100px;
            }
        }
    }
    &--darkgrey{
        background: @darkgrey url("@{public}images/lucifer-darkgrey.jpg") no-repeat center right;
        .background-size(auto 100%);
        .right-backgrounded__body{
            color: @white;
        }

        .series__time{
            color: @orange;
        }
        .right-backgrounded__head--blicked{
            &:before{
                margin-left: 43px;
            }
        }
    }
    @media @media_small {
        .background-size(auto 170px);
        background-position: top right;
        padding: 180px 20px 20px;
        margin: 10px 0;
    }
}
.left-backgrounded{
    position: relative;
    padding: 25px 25px 25px 300px;
    margin-bottom: 10px;
    &__head{
        font-size: 24px;
        font-weight: 200;
        margin-bottom: 20px;
        @media @media_small {

        }
        &--blicked{
            position: relative;
            font-family: 'SPSLClarendonC', Verdana, sans-serif;
            font-size: 48px;
            font-weight: bold;
            margin-bottom: 15px;
            &:before{
                content: "";
                position: absolute;
                background: url("@{public}images/rules/blik1.png") no-repeat;
                width: 312px;
                height: 85px;
                z-index: 1;
            }
        }
    }
    &--black{
        background: @dark url("@{public}images/scandal-dark.jpg") no-repeat center left;
        .background-size(auto 100%);
        .right-backgrounded__body{
            color: @white;
        }
        .series__time{
            color: @orange;
        }
        .right-backgrounded__head--blicked{
            &:before{
                margin-left: 16px;
            }
        }
    }
    &--blue{
        background: @blue url("@{public}images/once-upon-blue.jpg") no-repeat center left;
        .background-size(auto 100%);
        .series__time{
            color: @white;
        }
        .left-backgrounded__head--blicked{
            &:before{
                width: 600px;
                background-repeat: repeat-x;
                margin-left: -83px;
            }
        }
    }
    @media @media_small {
        .background-size(auto 170px);
        background-position: top left;
        padding: 180px 20px 20px;
        margin: 10px 0;
    }
}
.series{
    margin-right: 30px;
    overflow: hidden;
    &:nth-child(2n){
        margin-right: 0;
        margin-left: 30px;
    }
    &:nth-child(3n){
        margin-right: 15px;
        margin-left: 15px;
    }
    @media @media_small {
        margin-left: 0!important;
        margin-right: 0!important;
    };
    &__time{
        color: @purple-text;
        font-size: 24px;
        font-weight: 200;
        margin-bottom: 20px;
        text-transform: uppercase;
    }
    &__more{
        font-weight: bold;
        color: inherit;
    }
}