.tvshow {
	font-family : 'Gotham Pro', Arial;
	position : relative;
	width : 100%;
	text-align : center;
	margin-bottom : -36px;

	&__logo {
	    min-height: 244px;
		@media (max-width :900px) {
			margin-left : -12px;
		}
		&:before {
			content : "";
			background : url('@{public}images/b-4.png');
			width : 454px;
			height : 343px;
			position: absolute;
			bottom: 0px;
			left: 50%;
			margin-left: -215px;
			z-index: -1;
		}
	}
	&__title {
		text-transform: uppercase;
		position: absolute;
		width: 100%;
		color : @white;
		white-space: nowrap;
		font-size: 48px;
		font-weight: 900;
		bottom: 33px;

		@media (max-width : 900px) {
			bottom : -12px;
			white-space: normal;
		}
	}
	&__when {
		font-size : 18px;
		text-transform: uppercase;
		font-weight : 300;
		position: absolute;
		bottom: 83px;
		text-align: center;
		width: 100%;
		color : @white;
		@media (max-width : 900px) {
			opacity : 0;
		}
	}
	&__decoration {
		background : url('@{public}images/b-3.png');
		width : 896px;
		height : 85px;
		position : absolute;
		display : inline-block;
		bottom: 0;
		right: 50%;
		margin-right: -438px;
	}

	&__navigation {
	    display: flex;
		justify-content: space-between;
	    align-items: center;

		html.ie10 {
		    display: -ms-flex;
		    -ms-flex-pack: justify;
		    -ms-flex-align: center;
		}

	    width: 100%;
	    position: absolute;
	    top: 0;
	    height: 200px;
	}
	&__nav {
    	padding-bottom : 22px;

		&--prev { 
			text-align : left; 
			padding-left : 65px; 
			position : relative;
			.tvshow__nav-link:before {
				content : url('@{public}images/nav-left.png');
				width : 23px;
				height : 39px;
				display : inline-block;
				position : absolute;
				top : 50%;
				margin-top : -19px;
				left : 28px;
			}
		}
		&--disabled {
			&:before {
				opacity : .3;
			}
		}
		&--next { 
			text-align : right; 
			padding-right : 65px;
			position : relative;
			.tvshow__nav-link:before {
				content : url('@{public}images/nav-right.png');
				width : 23px;
				height : 39px;
				display : inline-block;
				position : absolute;
				top : 50%;
				margin-top : -19px;
				right : 28px;
			}
		}

		@media (max-width: 900px) {
			&--next { 
				.tvshow__nav-link:before {
					right : 10px;
				}
			}
			&--prev { 
				.tvshow__nav-link:before {
					left : 10px;
				}
			}
		}

		&-link {
			&, &:hover, &:visited, &:active {
				text-decoration: none;
				color : @white;
			}
		}
		&-episode-number { 
			display : block; 
			font-size : 14px;
			font-weight : 400;
			line-height : 24px;
			opacity : .7;

			&:after {
				content : url('@{public}images/mark.png');
				width : 14px;
				height : 12px;
				display : none;
				vertical-align: top;
				padding-left : 4px;
			}
			.tvshow__nav--checked &:after {
				display : inline-block;
			}

		}
		&-episode-title { 
			display : block; 
			font-weight : 500;
			font-size : 16px;
			line-height : 24px;
		}
		&-episode-date { 
			display : block; 
			font-size : 14px;
			font-weight : 400;
			line-height : 24px;
			opacity : .7;
		}
		&--disabled {
			.tvshow__nav-episode-number,
			.tvshow__nav-episode-title,
			.tvshow__nav-episode-date,
			.tvshow__nav-episode-points {
				opacity : .3;
			}
		}
		@media (max-width : 900px) {
			.tvshow__nav-episode-number,
			.tvshow__nav-episode-title,
			.tvshow__nav-episode-date,
			.tvshow__nav-episode-points {
				opacity : 0;
			}
		}
	}
}