<script src="<?= publicdir('vendor/jquery.min.js') ?>"></script>
<script src="<?= publicdir('vendor/ismobile.min.js') ?>"></script>
<script src="<?= publicdir('vendor/jquery.getscrollbarwidth.js') ?>"></script>
<script src="<?= publicdir('vendor/jquery.validate.min.js') ?>"></script>
<script src="<?= publicdir('vendor/jquery.validate.messages.ru.js') ?>"></script>
<script src="<?= publicdir('vendor/jquery.maskedinput.min.js') ?>"></script>
<script src="<?= publicdir('vendor/jquery.simpleselect.min.js') ?>"></script>
<script src="<?= publicdir('js/main.js') ?>"></script>

<script type="text/javascript">
$(function(){
	var ViewportRecalc = function() {
		if( /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ) {
			var ww = ( $(window).width() < window.screen.width ) ? $(window).width() : window.screen.width; //get proper width
			var mw = 320; // min width of site
			var ratio =  ww / mw; //calculate ratio
			if( ww < 900) { //smaller than minimum size
			$('#viewport').attr('content', 'initial-scale=' + ratio + ', maximum-scale=' + ratio + ', minimum-scale=' + ratio + ', user-scalable=yes, width=' + ww);
			} else { //regular size
				$('#viewport').attr('content', 'initial-scale=1.0, maximum-scale=2, minimum-scale=1.0, user-scalable=yes, width=' + ww);
			}
		}	
	}

	ViewportRecalc();
	window.addEventListener("orientationchange", ViewportRecalc, false);

});
</script>