<div class="header" id="header">
	<a href="#" class="header__logo"><img src="<?= publicdir('images/logo.fox.png') ?>"></a>
	<a href="#" class="header__caller">Меню</a>
	<div class="header__socials">
		<a href="#" class="header__social header__social--fb"></a>
		<a href="#" class="header__social header__social--vk"></a>
	</div>
	<div class="header__nav">
		<a href="#" class="header__nav-item">О проекте</a>
		<a href="#" class="header__nav-item active">Сериалы</a>
		<a href="#" class="header__nav-item">Как подключить</a>
		<a href="#" class="header__nav-item">Рейтинг</a>
	</div>
	<a href="#" class="header__tricolor"><img src="<?= publicdir('images/logo.tricolor.png') ?>"></a>
</div>
