<div class="content content--static clearfix">
	<div class="box-404-bant"></div>
	<div class="box-404">
		<div class="box-404__inn">
			<header>
				<h3 class="content__heading">Месяц горячих премьер на <strong>FOX Life</strong></h3>
			</header>
			<div class="box-404__body">
				404
			</div>
			<footer class="box-404__footer">
				<p>Страница не существует или она была удалена</p>
				<a href="#">Вернуться на главную страницу</a>
			</footer>
		</div>
	</div>
</div>