<div class="content content--welcome">
	<h3 class="content__heading">Месяц горячих премьер на <strong>FOX Life</strong></h3>
	
	<div class="content__tvshow">
		<?php include "src/views/blocks/tvshow.phtml" ?>
	</div>

	<div class="content__subheading">
		<div class="content__subheading-line1">Как зовут главную героиню сериала?</div>
	</div>

	<div class="content__question">
		<div class="bricks bricks--q4 bricks--hoverable bricks--blick">
			<a href="#" class="bricks__item bricks__item--active">Оливия Поуп</a>
			<a href="#" class="bricks__item">Эбби Уилан</a>
			<a href="#" class="bricks__item">Куинн Перкинс</a>
			<a href="#" class="bricks__item">Мелли Грант</a>
			<div class="bricks__over content__timer"><span class="content__timer-labels">Осталось</span>20<span class="content__timer-labels">секунд</span></div>
		</div>
	</div>

	<div class="content__footer">
		<a href="#" class="btn btn--active"><strong>Ответить</strong></a>
	</div>

	<?php include "src/views/blocks/footer-copyrights.phtml" ?>
</div>