<div class="content content--static clearfix" xmlns="http://www.w3.org/1999/html">

	<header>
		<h3 class="content__heading">Месяц горячих премьер на <strong>FOX Life</strong></h3>
		<div class="content__text-uppercase">О проекте</div>
	</header>
	<section class="about">
		<article class="right-backgrounded right-backgrounded--green">
			<header class="right-backgrounded__head">Весна — время желанных подарков и новых серий
				любимых сериалов. <b>Получай и то и другое!</b></header>
			<div class="right-backgrounded__body">Проект «Месяц горячих премьер» стартует 9 марта на канале FOX Life.
				Собери как можно больше баллов и получи приз от канала FOX Life и Триколор ТВ!</div>
		</article>
		<article class="two-sided">
			<div class="two-sided__left">
				У  тебя есть<br>
				несколько путей<br>
				к победе
			</div>
			<div class="two-sided__right">
				<ul>
					<li>Участвуй в викторине</li>
					<li>Пригласи подружек — это даст тебе баллы</li>
					<li>Намекни любимому о своём желании</li>
					<li>Введи номер Триколор ТВ</li>
					<li>Поделись информацией о проекте</li>
				</ul>
			</div>
		</article>
		<article class="right-backgrounded right-backgrounded--grey">
			<header class="right-backgrounded__head"><b>Смотри FOX Life</b> в сети Триколор ТВ
				и участвуй в акции!</header>
			<div class="right-backgrounded__msg">
				Чем больше активности ты проявишь на сайте, тем выше шанс получить <b>классный подарок!</b>
			</div>
		</article>

	</section>
</div>