<div class="content content--welcome">
	<h3 class="content__heading">Месяц горячих премьер на <strong>FOX Life</strong></h3>
	
	<div class="content__tvshow">
		<?php include "src/views/blocks/tvshow.phtml" ?>
	</div>

	<div class="content__subheading">
		<div class="content__subheading-line-big">Неправильный ответ</div>
	</div>

	<div class="content__extra-question">
		<a href="#" class="btn btn--active btn--extra-padding"
					id="extra_question"><strong>Дополнительный вопрос</strong></a>	
	</div>

	<div class="content__question">
		<div class="bricks bricks--q4 bricks--hide-last2-on-mobile">
			<a href="#" class="bricks__item"></a>
			<a href="#" class="bricks__item"></a>
			<a href="#" class="bricks__item"></a>
			<a href="#" class="bricks__item"></a>
			<div class="bricks__over content__donotgiveup">Не расстраивайся<br>Ты все ещё можешь<br class="on-mobile"> ответить на <br class="on-mobile">дополнительный вопрос</div>
		</div>
	</div>

	<div class="content__footer">
		<?php include "src/views/blocks/footer-social.phtml" ?>
	</div>

	<?php include "src/views/blocks/footer-copyrights.phtml" ?>
</div>