<div class="content content--rating content--static clearfix">

	<header>
		<h3 class="content__heading">Месяц горячих премьер на <strong>FOX Life</strong></h3>
		<div class="content__text-uppercase">Рейтинг участников</div>
	</header>
	<section class="clearfix">
		<div class="content-table">
			<div class="content-table__row hidden-mb">
				<div class="content-table__head"><a class="sort-dir" href="#">Место <i class="sort-dir__i"></i></a></div>
				<div class="content-table__head"><a class="sort-dir sort-dir--desc" href="#">Имя <i class="sort-dir__i"></i></a></div>
				<div class="content-table__head">Верные ответы</div>
				<div class="content-table__head">Баллы</div>
			</div>

			<div class="content-table__row">
				<div class="content-table__cell">1</div>
				<div class="content-table__cell">
					<img src="<?= publicdir('/images/content/face.jpg') ?>">
					<span>Сергей Дудоров</span>
				</div>

				<div class="content-table__cell"><span class="hidden-dt answers">Верных ответов</span><b>17/20</b> ср. время 18 сек.</div>
				<div class="content-table__cell"><span class="hidden-dt points">Баллов</span>30</div>

			</div>
			<div class="content-table__row">
				<div class="content-table__cell">2</div>
				<div class="content-table__cell">
					<div class="content-table__img">
						<img src="<?= publicdir('/images/content/face.jpg') ?>">
					</div>
					<span>Алексей Ростов</span>
				</div>

				<div class="content-table__cell"><span class="hidden-dt answers">Верных ответов</span><b>17/20</b> ср. время 18 сек.</div>
				<div class="content-table__cell"><span class="hidden-dt points">Баллов</span>30</div>

			</div>
			<div class="content-table__row">
				<div class="content-table__cell">3</div>
				<div class="content-table__cell">
					<div class="content-table__img">
						<img src="<?= publicdir('/images/content/face.jpg') ?>">
					</div>
					<span>Женя Пшенин</span></div>

				<div class="content-table__cell"><span class="hidden-dt answers">Верных ответов</span><b>17/20</b> ср. время 18 сек.</div>
				<div class="content-table__cell"><span class="hidden-dt points">Баллов</span>30</div>

			</div>
			<div class="content-table__row">
				<div class="content-table__cell">4</div>
				<div class="content-table__cell">
					<div class="content-table__img">
						<img src="<?= publicdir('/images/content/face.jpg') ?>">
					</div>
					<span>Иванов Иван</span></div>

				<div class="content-table__cell"><span class="hidden-dt answers">Верных ответов</span><b>17/20</b> ср. время 18 сек.</div>
				<div class="content-table__cell"><span class="hidden-dt points">Баллов</span>30</div>

		    </div>
			<div class="content-table__row">
				<div class="content-table__cell">5</div>
				<div class="content-table__cell">
					<div class="content-table__img">

					</div>
					<span>Петрова Анна</span>
				</div>

				<div class="content-table__cell"><span class="hidden-dt answers">Верных ответов</span><b>17/20</b> ср. время 18 сек.</div>
				<div class="content-table__cell"><span class="hidden-dt points">Баллов</span>30</div>

			</div>
			<div class="content-table__row">
				<div class="content-table__cell">6</div>
				<div class="content-table__cell">
					<div class="content-table__img">
						<img src="<?= publicdir('/images/content/face.jpg') ?>">
					</div>
					<span>Иванов Иван</span>
				</div>

				<div class="content-table__cell"><span class="hidden-dt answers">Верных ответов</span><b>17/20</b> ср. время 18 сек.</div>
				<div class="content-table__cell"><span class="hidden-dt points">Баллов</span>30</div>

			</div>
			<div class="content-table__row">
				<div class="content-table__cell">7</div>
				<div class="content-table__cell">
					<div class="content-table__img">
						<img src="<?= publicdir('/images/content/face.jpg') ?>">
					</div>
					<span>Иванов Иван</span>
				</div>

				<div class="content-table__cell"><span class="hidden-dt answers">Верных ответов</span><b>17/20</b> ср. время 18 сек.</div>
				<div class="content-table__cell"><span class="hidden-dt points">Баллов</span>30</div>

			</div>
			<div class="content-table__row">
				<div class="content-table__cell">8</div>
				<div class="content-table__cell">
					<div class="content-table__img">
						<img src="<?= publicdir('/images/content/face.jpg') ?>">
					</div>
					<span>Петрова Анна</span>
				</div>

				<div class="content-table__cell"><span class="hidden-dt answers">Верных ответов</span><b>17/20</b> ср. время 18 сек.</div>
				<div class="content-table__cell"><span class="hidden-dt points">Баллов</span>30</div>

			</div>
			<div class="content-table__row">
				<div class="content-table__cell">9</div>
				<div class="content-table__cell">
					<div class="content-table__img">
						<img src="<?= publicdir('/images/content/face.jpg') ?>">
					</div>
					<span>Иванов Иван</span>
				</div>

				<div class="content-table__cell"><span class="hidden-dt answers">Верных ответов</span><b>17/20</b> ср. время 18 сек.</div>
				<div class="content-table__cell"><span class="hidden-dt points">Баллов</span>30</div>

			</div>
			<div class="content-table__row">
				<div class="content-table__cell">10</div>
				<div class="content-table__cell">
					<div class="content-table__img">
						<img src="<?= publicdir('/images/content/face.jpg') ?>">
					</div>
					<span>Иванов Иван</span>
				</div>

				<div class="content-table__cell"><span class="hidden-dt answers">Верных ответов</span><b>17/20</b> ср. время 18 сек.</div>
				<div class="content-table__cell"><span class="hidden-dt points">Баллов</span>30</div>

			</div>

		</div>

		<?php include "src/views/blocks/paging.phtml" ?>

	</section>
</div>

