<div class="content content--welcome">
	<h3 class="content__heading">Месяц горячих премьер на <strong>FOX Life</strong></h3>
	
	<div class="content__tvshow">
		<?php $tvshow_no_nav = 1; $tvshow_when = 'Сегодня'; 
		include "src/views/blocks/tvshow.phtml" ?>
	</div>

	<div class="content__subheading content__subheading--expanded">
		<div class="content__subheading-line1">Прими участие в викторине на знание сериалов <strong>FOX Life</strong></div>
		<div class="content__subheading-line2">Убедись, что твоя подписка на пакет <a href="#">«Единый»</a> активна</div>
		<div class="content__how-to-pay">
			<a href="#" class="content__how-to-pay-btn">Как оплатить?</a>
		</div>
		<div class="content__subheading-line2">Смотри Fox live, авторизуйся через свою любимую социальную сеть
		на сайте,<br> отвечай на вопросы и получай призы!</div>
	</div>

	<div class="content__social-auth">
		<div class="bricks bricks--hoverable">
			<a href="#" class="bricks__item content__social-link content__social-link--fb">Facebook</a>
			<a href="#" class="bricks__item content__social-link content__social-link--vk">Вконтакте</a>
		</div>
	</div>

	<div class="content__footer">
		Теперь каждую неделю вместе <br class="on-mobile">с выходом новых серий:<br>
		«Люцифер», «Анатомия страсти», <br class="on-mobile">«Касл», «Скандал», «Однажды в сказке»<br class="on-desktop">
		будет выходить вопрос викторины, посвященный этим сериалам.
	</div>


	<div class="content__footer-copyright">
		<div class="sidebar__copyright">&copy; FoxLife All Rights Reserved 16+</div>
		<div class="sidebar__webstudio">Создание сайта — <a href="#" target="_blank">Articul Media</a></div>
	</div>
</div>