<div class="content content--static clearfix">

	<header>
		<h3 class="content__heading">Месяц горячих премьер на <strong>FOX Life</strong></h3>
		<div class="content__text-uppercase">Правила</div>
	</header>
	<section class="rules">
		<header class="rules__head">
			<div class="rules__left">
				<div class="rules__inn">
				У  тебя есть<br>
				несколько путей<br>
				к победе
				</div>
			</div>
			<div class="rules__right">
				<div class="rules__inn">
				<ul>
					<li>Участвуй в викторине</li>
					<li>Пригласи подружек — это даст тебе баллы</li>
					<li>Намекни любимому о своём желании</li>
					<li>Введи номер Триколор ТВ</li>
					<li>Поделись информацией о проекте</li>
				</ul>
				</div>
			</div>
		</header>
		<article class="rules__content">
			<ul>
				<li>
					<h3>Общие положения</h3>
					<ul>
						<li>Стимулирующее мероприятие под названием «Ходячие мертвецы» (далее Мероприятие) проводится в рамках стимулирования просмотра телеканала FOX.</li>
						<li>Мероприятие проводится на всей территории Российской Федерации.<br>В розыгрыше приза, указанного в п.6.1.1., принимают участие Участники Мероприятия.</li>
						<li>Для участия в Мероприятии, Участнику Мероприятия (далее — Участник) предлагается осуществить действия, указанные в пункте 5.1 настоящих Правил.</li>
					</ul>
				</li>
				<li>
					<h3>Общие положения</h3>
					<p>Мероприятие проводится Обществом с ограниченной ответственностью «Фокс Фэкчуэл Чэннелс» (сокращенное наименование — ООО " Фокс Фэкчуэл Чэннелс «). Юридический адрес: 119435, Москва, ул. Малая Пироговская, д.16 Почтовый адрес: 119435, Москва, ул. Малая Пироговская, д.16 ИНН 7704732229 и Обществом с ограниченной ответственностью «Артикул Медиа» (сокращенное наименование — ООО "Артикул Медиа”) Юридический адрес: 123242 г. Москва, ул. Заморенова, д. 14/16, кв. 55 Почтовый адрес: 105066 г. Москва, ул. Александра Лукьянова, д. 3, ИНН 7703501250 2.2. Сайт в сети Интернет, на которых будет размещена информация о проводимом Мероприятии — http://bigcats.foxtv.ru/</p>
				</li>
				<li>
					<h3>Общие положения</h3>
					<p>Мероприятие проводится Обществом с ограниченной ответственностью «Фокс Фэкчуэл Чэннелс» (сокращенное наименование — ООО " Фокс Фэкчуэл Чэннелс «). Юридический адрес: 119435, Москва, ул. Малая Пироговская, д.16 Почтовый адрес: 119435, Москва, ул. Малая Пироговская, д.16 ИНН 7704732229 и Обществом с ограниченной ответственностью «Артикул Медиа» (сокращенное наименование — ООО "Артикул Медиа”) Юридический адрес: 123242 г. Москва, ул. Заморенова, д. 14/16, кв. 55 Почтовый адрес: 105066 г. Москва, ул. Александра Лукьянова, д. 3, ИНН 7703501250 2.2. Сайт в сети Интернет, на которых будет размещена информация о проводимом Мероприятии — http://bigcats.foxtv.ru/</p>
					<ul>
						<li>Стимулирующее мероприятие под названием «Ходячие мертвецы» (далее Мероприятие) проводится в рамках стимулирования просмотра телеканала FOX.</li>
						<li>Мероприятие проводится на всей территории Российской Федерации.<br>В розыгрыше приза, указанного в п.6.1.1., принимают участие Участники Мероприятия.</li>
						<li>Для участия в Мероприятии, Участнику Мероприятия (далее — Участник) предлагается осуществить действия, указанные в пункте 5.1 настоящих Правил.</li>
					</ul>
				</li>
			</ul>
		</article>
	</section>
</div>