<div class="content content--static clearfix" xmlns="http://www.w3.org/1999/html">

	<header>
		<h3 class="content__heading">Месяц горячих премьер на <strong>FOX Life</strong></h3>
		<div class="content__text-uppercase">Сериалы</div>
	</header>
	<section class="about">
		<article class="series right-backgrounded right-backgrounded--orange">
			<header class="right-backgrounded__head right-backgrounded__head--blicked">Анатомия страсти</header>
			<div class="series__time"><b>Четверг</b> 16:00</div>
			<div class="right-backgrounded__body">Главная героиня Мередит Грей — молодая женщина-хирург, работает
				в городской больнице Сиэтла. Ее окружают интерны с разными характерами,
				но общей целью – стать хорошими врачами. Они молоды, целеустремленны
				и настолько красивы, что даже медицинская форма им к лицу. <a class="series__more" href="#">Подробнее</a></div>
		</article>

		<article class="series left-backgrounded left-backgrounded--black">
			<header class="left-backgrounded__head left-backgrounded__head--blicked">Скандал</header>
			<div class="series__time"><b>Четверг</b> 16:00</div>
			<div class="left-backgrounded__body">Специалист по связям с общественностью Оливия Поуп, ранее работавшая на президента США, создает свое антикризисное агенство, цель которого - устранять проблемы высокопоставленных клиентов до того, как они станут всеобщим достоянием.
				<a class="series__more" href="#">Подробнее</a></div>
		</article>
		<article class="series right-backgrounded right-backgrounded--white">
			<header class="right-backgrounded__head right-backgrounded__head--blicked">Касл</header>
			<div class="series__time"><b>Четверг</b> 16:00</div>
			<div class="right-backgrounded__body">У известного писателя детективных историй Ричарда Касла есть все – слава, поклонники, женщины.... нет только одного – свежего вдохновения. Но вот в городе появляется убийца, который с чрезвычайной точностью копирует преступления, описанные в книгах Ричарда, и в ходе расследования судьба сводит его с Кэйт Бекетт, детективом Нью-йоркского отдела полиции...
				<a class="series__more" href="#">Подробнее</a></div>
		</article>

		<article class="series left-backgrounded left-backgrounded--blue">
			<header class="left-backgrounded__head left-backgrounded__head--blicked">Однажды в сказке</header>
			<div class="series__time"><b>Четверг</b> 16:00</div>
			<div class="left-backgrounded__body">Однажды, в день своего рождения, 28-ми летняя Эмма Свон обнаруживает у своих дверей десятилетнего мальчика, Генри. Генри утверждает, что он – ее сын, от которого она отказалась много лет назад, а сама Эмма – дочь Белоснежки и Прекрасного Принца, которую некогда выслали из сказки, чтобы спасти от проклятья Злой Королевы.
				<a class="series__more" href="#">Подробнее</a></div>
		</article>

		<article class="series right-backgrounded right-backgrounded--darkgrey">
			<header class="right-backgrounded__head right-backgrounded__head--blicked">Люцифер</header>
			<div class="series__time"><b>Четверг</b> 16:00</div>
			<div class="right-backgrounded__body">Заскучавший и несчастный повелитель преисподней, Люцифер Морнингстар оставил свой престол и отправился в современный Лос-Анджелес, где основал ночной клуб «Lux». Очаровательный, харизматичный и дьявольски привлекательный Люцифер наслаждается своей жизнью — вином, женщинами и музыкой — пока красивая поп-звезда не оказывается убитой на пороге его клуба…
				<a class="series__more" href="#">Подробнее</a></div>
		</article>
	</section>
</div>