<div class="content content--welcome">
	<h3 class="content__heading">Месяц горячих премьер на <strong>FOX Life</strong></h3>
	
	<div class="content__tvshow">
		<?php include "src/views/blocks/tvshow.phtml" ?>
	</div>

	<div class="content__subheading">
		<div class="content__subheading-line1">У вас будет 20 секунд, чтобы выбрать один правильный ответ из четырех вариантов</div>
	</div>

	<div class="content__ready">
		<div class="bricks bricks--q4 bricks--blick bricks--hide-last2-on-mobile">
			<a href="#" class="bricks__item"></a>
			<a href="#" class="bricks__item"></a>
			<a href="#" class="bricks__item"></a>
			<a href="#" class="bricks__item"></a>
			<div class="bricks__over content__ready-text">Готовы?</div>
		</div>
	</div>

	<div class="content__footer">
		<a href="#" class="btn btn--active popup__caller" data-popup="take-part"><strong>Начинаем!</strong></a>
	</div>

	<?php include "src/views/blocks/footer-copyrights.phtml" ?>
</div>