<div class="content content--welcome">
	<h3 class="content__heading">Месяц горячих премьер на <strong>FOX Life</strong></h3>
	
	<div class="content__tvshow">
		<?php include "src/views/blocks/tvshow.phtml" ?>
	</div>

	<div class="content__subheading">
		<div class="content__subheading-line1">Ты ответила на все вопросы <br class="on-mobile">5 серии викторины</div>
	</div>

	<div class="content__extra-question">
		<a href="#" class="btn btn--active btn--extra-padding"
					id="extra_question"><strong>Дополнительный вопрос</strong></a>	
	</div>

	<div class="content__question"> 
		<div class="bricks bricks--q4">
			<a href="#" class="bricks__item"></a>
			<a href="#" class="bricks__item"></a>
			<a href="#" class="bricks__item"></a>
			<a href="#" class="bricks__item"></a>
			<div href="#" class="bricks__over content__finish">
				<div class="content__done-mark"><img src="<?= publicdir('images/done.png') ?>"></div>
			</div>
		</div>
	</div>

	<div class="content__footer">
		<?php include "src/views/blocks/footer-social.phtml" ?>
	</div>

	<?php include "src/views/blocks/footer-copyrights.phtml" ?>
</div>