<div class="content__footer-copyright">
	<div class="sidebar__copyright">&copy; FoxLife All Rights Reserved 16+</div>
	<div class="sidebar__webstudio">Создание сайта — <a href="#" target="_blank">Articul Media</a></div>
</div>