<div class="content__footer-socials">
	<div>Поделись этим сериалом с друзьями!<br class="on-mobile"> +10 баллов</div>
	<a href="#" class="content__footer-social content__footer-social--fb"></a>
	<a href="#" class="content__footer-social content__footer-social--vk"></a>
</div>