<footer class="paging">
	<span class="paging__total">Страница 3/20</span>
	<div class="paging__float-wrap">

		<ul class="paging__list">
			<a href="#" class="paging__ctrl paging__ctrl--prev disabled"></a>
			<li class="paging__item active">1</li>
			<li class="paging__item"><a href="#">2</a></li>
			<li class="paging__item"><a href="#">3</a></li>
			<li class="paging__item"><a href="#">4</a></li>
			<li class="paging__divider">...</li>
			<li class="paging__item"><a href="#">12</a></li>
			<a href="#" class="paging__ctrl paging__ctrl--next"></a>
		</ul>
		<a href="#" class="paging__link paging__link--first">Первая</a>
		<a href="#" class="paging__link">Последняя</a>
	</div>
	<div class="results">Подведение итогов состоится 26 апреля 2016</div>
</footer>