<div class="popup popup-take-part">
	<div class="popup-take-part__container popup__container" id="popup_take-part">
		<a href="#" class="popup__close"></a>
		<div class="popup__logo"></div>
		<div class="popup__date">С 09 марта по 06 апреля</div>
		<div class="popup__heading">Участвуй<br>
			в викторине<br>
			и выигрывай призы!</div>

			<p class="popup-take-part__sertif">Сертификаты на косметику номиналом <b>3 999</b>, <b>2 500</b>
				и <b>1 000</b> рублей ждут тебя!</p>
			<p>Участвовать в розыгрыше призов<br>
				могут только подписчики Триколор ТВ</p>
			<a href="#" class="btn btn--active"><strong>Викторина</strong></a>
			<a href="#" class="popup__rules-lk">Ознакомиться с правилами</a>
	</div>
</div>