<div class="popup popup-dogovor">
	<div class="popup-dogovor__container popup__container" id="popup_dogovor">
		<a href="#" class="popup__close"></a>
		<div class="popup__heading">Играть <br>на призы!</div>
			<div class="popup__hint">В качестве награды тебя ждут подарочные сертификаты на
			профессиональные средства по уходу за волосами.</div>

			<form class="popup__form" id="form_dogovor" method="GET" action="/">
				<label class="popup__label" for="agreement">ID приёмного оборудования</label>
				<input class="popup__input" name="agreement" type="text" required>

				<label class="popup__label" for="fio">ФИО</label>
				<input class="popup__input" name="fio" type="text" required>

				<label class="popup__label" for="address">Адрес</label>
				<input class="popup__input" name="address" type="text" required>

				<label class="popup__label" for="personal_mobile">Телефон</label>
				<input class="popup__input input-phone" name="personal_mobile" type="text" required>

				<label class="popup__label popup__label--checkbox">
				<input type="checkbox" name="confirm_agreement" required>С <a href="#">правилами</a> согласен</label>

				<input type="submit" class="popup__button btn btn--active" value="Отправить">
			</form>

			<div class="popup__footer">
				<a href="#" class="popup-dogovor__ihaveno-link">У меня нет номера договора с Триколор ТВ</a>
				<p class="popup-dogovor__confirmation">Вам зачислено 20 баллов</p>
				<div class="popup-dogovor__tricolor"><img src="<?= publicdir('images/logo.tricolor.png') ?>"></div>
			</div>
		</div>	
	</div>
</div>