<div class="popup popup-gifts">
	<div class="popup-gifts__container popup__container" id="popup_gifts">
		<a href="#" class="popup__close"></a>
		<div class="popup__heading">Страстные <br>подарки!</div>
			<div class="popup__hint">Заполни нашу маленькую анкету и твоему любимому придёт письмо с подсказкой
			от телеканала FOX Life. Заполнение анкеты даёт дополнительные баллы в копилку участницы*.</div>

			<form class="popup__form popup-gifts__form" id="form_gifts" method="GET" action="/">

				<div class="popup-gifts__form-elem">
					<label class="popup__label" for="g-name">Твое имя</label>
					<input class="popup__input" name="g-name" id="g-name" type="text" required>
				</div>

				<div class="popup-gifts__form-elem">
					<label class="popup__label" for="g-gift">Какой подарок ты хотела бы получить?</label>
					<input class="popup__input" name="g-gift" id="g-gift" type="text" required placeholder="Например, красивый браслет">
				</div>

				<div class="popup-gifts__form-elem">
					<label class="popup__label" for="g-serial">Выбери свой любимый сериал</label>
					<select name="g-serial" id="g-serial" required>
						<option value="0">Однажды в сказке</option>
						<option value="1">Анатомия страсти</option>
						<option value="2">Скандал</option>
					</select>
				</div>

				<div class="popup-gifts__form-elem">
					<label class="popup__label" for="g-email">Введи эл. адрес получателя</label>
					<input class="popup__input" name="g-email" id="g-email" type="email" required placeholder="Эл. адрес">
				</div>

				<div class="popup-gifts__form-elem">
					<input type="submit" class="popup__button btn btn--active" value="Отправить">
				</div>

				<div class="popup-gifts__form-elem">
					<div class="popup__mark">С одного аккаунта можно заполнить только<br> одну анкету</div>
				</div>
				<div class="popup__confirmation"></div>
			</form>
		</div>	
	</div>
</div>