<div class="popup popup-invite popup-invite--screen1">
	<div class="popup-invite__container popup__container" id="popup_invite">
		<a href="#" class="popup__close"></a>
		<div class="popup__heading">Пригласи <br>подружек!</div>
		<div class="popup-invite__screen1">
			<div class="popup__subheading">Пора позаботиться<br> о подарках для своих<br>подруг!</div>
			<div class="popup__hint">Введи электронынй адрес подруги, и возможно, именно она сможет
			победить в викторине.</div>

			<form class="popup__form" id="form_invite" method="GET" action="/">
				<label class="popup__label" for="invite-email">Введи эл. адрес своей подруги</label>
				<input class="popup__input" name="invite-email" id="invite-email" type="email" required placeholder="Эл. адрес">

				<input type="submit" class="popup__button btn btn--active" value="Отправить">
				<div class="popup__confirmation"></div>
			</form>
		</div>
		<div class="popup-invite__screen2">
			<div class="popup-invite__line"></div>
			<div class="popup-invite__invite-them-all">Позови всех <strong>Подгруг!</strong></div>
			<div class="popup-invite__socials">
				<a href="#" class="popup-invite__social popup-invite__social-fb"><img src="<?= publicdir('images/social/fb-share.png') ?>"></a>
				<a href="#" class="popup-invite__social popup-invite__social-vk"><img src="<?= publicdir('images/social/vk-share.png') ?>"></a>
				<a href="#" class="popup-invite__social popup-invite__social-tw"><img src="<?= publicdir('images/social/tw-share.png') ?>"></a>
			</div>
		</div>
	</div>
</div>