<div class="sidebar">
	<div class="sidebar__wrapper">
		<div class="sidebar__auth-wrapper">
			<?php if (isset($logged) && $logged): ?>
				<div class="sidebar__auth sidebar__auth--user">
					<div class="sidebar__auth-block">
						<div class="sidebar__auth-rate">
							<strong>135</strong><span>баллов</span>
						</div>
						<div class="sidebar__auth-avatar sidebar__auth-avatar--fb">
							<img src="<?= publicdir('images/avatar.png') ?>">
						</div>
						<div class="sidebar__auth-place">
							<strong class="star">869</strong><span>место</span>
						</div>
					</div>
					<div class="sidebar__auth-name">Дарья Александровна</div>
					<a href="#" class="sidebar__auth-exitlink">Выход</a>
				</div>
			<?php else: ?>
				<div class="sidebar__auth sidebar__auth--guest">
					<label>Авторизуйся через свою любимую социальную сеть на сайте, отвечай
					на вопросы и получай призы!</label>
					<a href="#" class="sidebar__auth-btn sidebar__auth-btn--fb">Facebook</a>
					<a href="#" class="sidebar__auth-btn sidebar__auth-btn--vk">Вконтакте</a>
				</div>
			<?php endif; ?>
		</div>
		
		<div class="sidebar__menu-caller"><a href="#" class="btn">Получить бонусы</a></div>
		<div class="sidebar__overlay-wrapper">
			<div class="sidebar__menu">
				<label>Чтобы выиграть классный подарок набери <strong>больше баллов:</strong></label>
				<a href="#" class="btn btn--active sidebar__menu-item sidebar__menu-item--answer">
					<span class="btn__text">Отвечай<br><strong>на вопросы</strong></span>
					<span class="btn__corner">+20</span>
				</a>
				<a href="#" class="btn sidebar__menu-item sidebar__menu-item--share">
					<span class="btn__text"><strong>Поделись</strong> сериалом</span>
					<span class="btn__corner">+10</span>
				</a>
				<a href="#" class="btn sidebar__menu-item sidebar__menu-item--invite popup__caller"
				data-popup="invite">
					<span class="btn__text"><strong>Пригласи</strong> подружек</span>
					<span class="btn__corner">+10</span>
				</a>
				<a href="#" class="btn sidebar__menu-item sidebar__menu-item--ask popup__caller" data-popup="gifts">
					<span class="btn__text"><strong>Загадай</strong><br>страстный подарок</span>
					<span class="btn__corner">+10</span>
				</a>
			</div>

			<?php if (isset($logged) && $logged): ?>
				<?php if (isset($dogovor) && $dogovor): ?>
					<div class="sidebar__tricolor">
						<a href="#" data-popup="dogovor"
						class="sidebar__tricolor-ask popup__caller"><span>Номер договора с Триколор ТВ</span></a>
					</div>
				<?php else: ?>
					<div class="sidebar__tricolor">
						<label>Введи номер договора с <strong>Триколор ТВ</strong>, чтобы попасть в рейтинг участников и играть на призы.</label>
						<a href="#" class="btn btn--active sidebar__play-for-prize">
							<span class="btn__text"><strong>Играть на призы</strong></span>
							<span class="btn__corner">+20</span>
						</a>
					</div>
				<?php endif; ?>
			<?php endif; ?>

			<a href="#" class="sidebar__overlay-wrapper-close"></a>
		</div>

		<div class="sidebar__footer">
			<div class="sidebar__copyright">&copy; FoxLife All Rights Reserved 16+</div>
			<div class="sidebar__webstudio">Создание сайта — <a href="#" target="_blank">Articul Media</a></div>
		</div>
	</div>
</div>
<?php unset($dogovor); unset($logged); ?>