<div class="tvshow">
	<div class="tvshow__logo"><img src="<?= publicdir('images/tvshow-avatar.png') ?>"></div>
	<div class="tvshow__when"><?= isset($tvshow_when) ? $tvshow_when : '5 серия' ?></div>
	<div class="tvshow__title">Анатомия страсти</div>
	<div class="tvshow__decoration"></div>	

	<?php if (isset($tvshow_no_nav) && $tvshow_no_nav ): ?>
	<?php else: ?>
		<div class="tvshow__navigation">
			<div class="tvshow__nav tvshow__nav--prev tvshow__nav--checked">
				<a href="#" class="tvshow__nav-link">
					<span class="tvshow__nav-episode-number">4 серия</span>
					<span class="tvshow__nav-episode-title">Однажды в Мексике</span>
					<span class="tvshow__nav-episode-date">16 февраля, среда</span>
				</a>
			</div>
			<div class="tvshow__nav tvshow__nav--next tvshow__nav--disabled">
				<a href="#" class="tvshow__nav-link">
					<span class="tvshow__nav-episode-number">6 серия</span>
					<span class="tvshow__nav-episode-title">Скандал</span>
					<span class="tvshow__nav-episode-date">22 февраля, вторник</span>
				</a>
			</div>
		</div>
	<?php endif; ?>
</div>
<?php unset($tvshow_no_nav); unset($tvshow_when); ?>